@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --background: #F8FAFC;
  --foreground: #1E293B;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
